@{
    ViewBag.Title = "about";
}

<div class="text" id="about">
    This project is a personal tool to create a better blogging workflow.
    Do you have problems, questions or requests? Check out the <a href="https://github.com/overeemm/gdocerous">github</a> page.
    <br /><br />
    This website is build using <a href="http://asp.net/mvc/">ASP.NET MVC 3</a>, <a href="http://code.google.com/p/google-gdata/">Google gdata libraries</a>, 
    the <a href="http://www.icsharpcode.net/opensource/sharpziplib/">SharpZipLib</a> en the <a href="http://code.google.com/p/google-code-prettify/">prettify</a> library.
</div>

