@{
    ViewBag.Title = "about";
}

<div class="text" id="about">
    This project is a personal tool to create a better blogging workflow.
    Do you have problems, questions or requests? Check out the <a href="https://github.com/overeemm/gdocerous">github</a> page.
    <br />
    Read <a href="http://blog.movereem.nl/tag/gdocerous">the articles on my blog</a> for some more information.<br />
    <br />
    This website does not store any information about who is using it or what is send. There is no database, no storage.
    However, the usage is of this website is for your own risk. Afraid to use it? Download the source and create your own solution.
</div>

