@using Google.Documents;
@{
    ViewBag.Title = "Documents";
}
<h2>
    Documents for @ViewBag.Folder</h2>
<ul>
    @foreach (Document doc in ViewBag.Documents.Entries)
    { 
        <li>@Html.ActionLink(doc.Title, "Document", new { folder = ViewBag.Folder, document = doc.Title })</li>
    }
</ul>
